<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	
	<div id="menuTitleIco"><span class="glyphicon glyphicon-list-alt"></span></div><span id="menuTitle">KOSTA 주소록</span>
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->

	<table>
		<tr>
		 <th>아이디</th>
		 <th>이름</th>
		 <th>전화번호</th>
		 <th>이메일</th>
		</tr>
		
		<tr th:each="adminlist:${adminlist}">
			<td th:text="${adminlist.adminId}">아이디</td>
			<td th:text="${adminlist.adminName}">이름</td>
			<td th:text="${adminlist.adminPhone}">전화번호</td>
			<td th:text="${adminlist.adminEmail}">이메일</td>
			
		</tr>

	</table>
</div>
</body>
</html>