<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	
<div id="menuTitleIco"><span class="glyphicon glyphicon-education"></span></div><span id="menuTitle">수료증</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<div class="pull-right">
	<h3><a class="btn btn-default" th:href="@{/admin/certificateInsert}">등록</a></h3>
	</div>
	
	<table border="1">
	<thead>
		<tr>
		 <th>번호</th>
		 <th>수료증명</th>
		 <th>출력문구</th>
		 <th>등록일</th>
		 <th id="tdCenter">삭제</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="certi:${certiList}" >
			<td th:text="${certi.certiNo}">번호</td>
			<td>
			 <a th:href="@{'/admin/certificateModify/'+${certi.certiNo}}" th:text="${certi.certiName}">수료증명</a>
			</td>
			<td th:text="${certi.certiComment}">출력문구</td>
			<td th:text="${#calendars.format(certi.certiRegDate,'yyyy-MM-dd')}">[]</td>
			<td id="tdCenter"><a class="btn btn-danger btn-sm" th:href="@{/admin/certificateDelete(no=${certi.certiNo})}">삭제</a></td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>