<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">

<div id="menuTitleIco"><span class="glyphicon glyphicon-education"></span></div><span id="menuTitle">
<th:block th:if="${certi == null}">수료증 등록</th:block>
<th:block th:unless="${certi == null}">수료증 상세보기</th:block>
</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<form th:action="@{/admin/certificateInsert}" method="post">
    <div class="form-group">
    
    <th:block th:unless="${certi == null}">
	    <input type="hidden" id="certiNo" name="certiNo" th:value="${certi.certiNo}">
	    <input type="hidden" id="certiRegDate" name="certiRegDate" th:value="${certi.certiRegDate}">
	</th:block>
    
      <label for="certiName">수료증 이름:</label>
      <input type="text" class="form-control" id="certiName" name="certiName" th:value="${certi != null}?${certi.certiName}:${null}">
    
    </div>
    <div class="form-group">
      <label for="certiComment">출력문구:</label>
	  	<textarea class="form-control" rows="5" cols="" id="certiComment" name="certiComment" th:text="${certi != null}?${certi.certiComment}:${null}"></textarea>    
    </div>
    <button type="button" class="btn btn-success" onclick = "location.href = '/admin/certificatemain'">취소</button>
    <button type="submit" class="btn btn-success">등록하기</button>
  </form>
</div>
</body>
</html>