<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	<table>
	<tr>
	 <th>번호</th>
	 <th>수료증명</th>
	 <th>출력문구</th>
	 <th>등록일</th>
	</tr>
	<tr th:each="certi:${certiList}" >
		<td th:text="${certi.certiNo}">번호</td>
		<td th:text="${certi.certiName}">수료증명</td>
		<td th:text="${certi.certiComment}">출력문구</td>
		<td th:text="${certi.certiRegDate}">등록일</td>
	</tr>
	</table>
</div>
</body>
</html>