<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	
	<div id="menuTitleIco">
	<span class="glyphicon glyphicon-home"></span>
	</div>
	<span id="menuTitle">강의실</span>
	
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->

	<div class="pull-right">
	<h3><a class="btn btn-default" th:href="@{/admin/classroomInsert}">등록</a></h3>
	</div>
	
	<table>
	<thead>
		<tr>
		 <th>강의장</th>
		 <th>강의실 번호</th>
		 <th>강의실 정원</th>
		 <th id="tdCenter">삭제</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="classRoom:${classRoomList}">
			<td th:text="${classRoom.lectureHall.lectureHallName}">강의장 이름</td>
			<td>
				<a th:href="@{'/admin/classRoomModify/'+${classRoom.classRoomNo}}" th:text="${classRoom.classRoomName}">강의실 번호</a>
			</td>
			<td th:text="${classRoom.classRoomCapacity}">강의실 정원</td>
			<td id="tdCenter"><a class="btn btn-danger btn-sm" th:href="@{/admin/classRoomDelete(no=${classRoom.classRoomNo})}">삭제</a></td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>