<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">

	<div id="menuTitleIco"><span class="glyphicon glyphicon-home"></span></div><span id="menuTitle">
	<th:block th:if="${classRoom == null}">강의실 등록</th:block>
	<th:block th:unless="${classRoom == null}">강의실 상세보기</th:block>
	</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<form th:action="@{/admin/classroomInsert}" method="post">
    <div class="form-group">
      <th:block th:unless="${classRoom == null}">
	     <input type="hidden" id="classRoomNo" name="classRoomNo" th:value="${classRoom.classRoomNo}">
	  </th:block>	

      <label>강의장 이름:</label>
	      <select class="form-control" name="lectureHall">
				<option 
				th:each="lectureHall:${lectureHallList}" 
				th:value="${lectureHall.lectureHallNo}" 
				th:utext="${lectureHall.lectureHallName}"
				th:selected="${classRoom != null and classRoom.lectureHall.lectureHallNo==lectureHall.lectureHallNo}">
				</option>
		  </select>
    </div>
    
    <div class="form-group">
      <label for="classRoomName">강의실 이름:</label>
		  <input
		  type="text"
		  class="form-control" 
		  id="classRoomName" 
		  name="classRoomName"
		  th:value="${classRoom != null}?${classRoom.classRoomName}:${null}">
    </div>
    
    <div class="form-group">
      <label for="classRoomCapacity">강의실 정원:</label>
      	<input 
      	type="number" 
      	class="form-control" 
      	id="classRoomCapacity" 
      	name="classRoomCapacity" 
      	th:value="${classRoom != null}?${classRoom.classRoomCapacity}:${null}">
    </div>
    <button type="button" class="btn btn-success" onclick = "location.href = '/admin/classroommain'">취소</button>
    <button type="submit" class="btn btn-success">등록하기</button>
  </form>
</div>
</body>
</html>