<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>강의리스트</title>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content1">
		<div id="menuTitleIco"><span class="glyphicon glyphicon-bullhorn"></span></div><span id="menuTitle">강의</span>
	
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
		<div class="pull-right">
		<h3><a class="btn btn-default" th:href="@{/admin/classesInsert}">등록</a></h3>
		</div>

	<!-- 엑셀 다운용 코드 -->
		<div class="pull-right">
		<h3><a class="btn btn-default" th:href="@{/admin/exceldownload}">엑셀저장</a></h3>
		</div>
	<!-- 엑셀 다운용 코드 끝-->

		<table>
		<thead>
			<tr>
				<th>강의번호</th>
				<th>주제명</th>
				<th>강의명</th>
				<th>강사명</th>
				<th>기간</th>
				<th>강의장명</th>
				<th>상태</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="classes:${classeslist}">
				<td th:text="${classes.classNo}">강의번호</td>
				<td th:text="${classes.lecture.course.subject.subName}">주제명</td>
				<td><a th:href="@{'/admin/classesDetail/'+${classes.classNo}}" th:text="${classes.lecture.course.courseName}"></a></td>
				<td th:text="${classes.teacher.teacherName}">강사명</td>
				<td th:text="${classes.classOpenDate}+ '~'+ ${classes.classCloseDate}">기간</td>
				<td th:text="${classes.classRoom.lectureHall.lectureHallName}">강의장명</td> 
				<td th:if="${#strings.toString(classes.classState)}=='APPLY'" th:text="수강신청">상태</td>
				<td th:if="${#strings.toString(classes.classState)}=='END'" th:text="마감">상태</td>
				<td th:if="${#strings.toString(classes.classState)}=='CLOSE'" th:text="종강">상태</td>
				<td th:if="${#strings.toString(classes.classState)}=='OPENREADY'" th:text="개설예정">상태</td>	
				<td><a class="btn btn-danger btn-sm" th:href="@{/admin/classesDelete(cno=${classes.classNo})}">삭제</a></td>
			</tr>
		</tbody>
		</table>

	</div>

	<th:block layout:fragment="script1">
		<script>
			$(function() {
				var formObj = $("#f1");
				$(".pagination a").click(function(e) {
					e.preventDefault(); //본래의 기능(link)을 취소
					formObj.find("[name='page']").val($(this).attr("href"));
					/* alert($(this).attr("href")); */
					formObj.submit();
				});

				$("#searchBtn").click(function() {
					var typeStr = $("#searchType").find(":selected").val();
					var keywordStr = $("#searchKeyword").val();
					/* alert(typeStr + ":" + keywordStr); */
					formObj.find("[name='type']").val(typeStr);
					formObj.find("[name='keyword']").val(keywordStr);
					formObj.submit();
				});
				
				$(".btn-group button").click(function() {
					alert($(this).val());
					var typeStr = "courseName";
					var keywordStr = $(this).attr('value');
					alert(typeStr + ":" + keywordStr);
					formObj.find("[name='type']").val(typeStr);
					formObj.find("[name='keyword']").val(keywordStr);
					formObj.submit();
				});

			});
		</script>
	</th:block>

</body>
</html>