<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>회사 상세보기</title>
</head>
<body>

	<div class="panel panel-default" layout:fragment="content1">

    <div id="menuTitleIco">
    <span class="glyphicon glyphicon-user"></span>
    </div>
    <span id="menuTitle">회사 상세보기</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->


	<form th:action="@{/admin/companyUpdate}" method="post">
	<input type="hidden" id="companyNo" name="companyNo" th:value="${company.companyNo}">
		<div class="form-group">
			<label for="title">회사명:</label> 
			<input type="text" class="form-control" id="title" name="companyName" th:value="${company.companyName}" required>
		</div>
		<div class="form-group">
			<label for="content">사업자번호:</label>
				<input type="text" class="form-control" id="writer" name="companyLicense" th:value="${company.companyLicense}" required>
		</div>
		<div class="form-group">
			<label for="writer">회사대표:</label> 
			<input type="text" class="form-control" id="writer" name="companyBoss" th:value="${company.companyBoss}" required>
		</div>		
		
			<input type="radio" name="companyConvention" value="Convention" th:checked="${#strings.toString(company.companyConvention)}=='Convention'">협약사
			<input type="radio" name="companyConvention" value="NoConvention" th:checked="${#strings.toString(company.companyConvention)}=='NoConvention'">비협약사
		<br>

		<button type="submit" class="btn btn-success">저장</button>
		<button type="button" class="btn btn-success" onclick = "location.href = '/admin/companyList'">취소</button> 
	</form>

</div>
</body>
</html>