<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>회사리스트</title>
</head>
<body>

	<div class="panel panel-default" layout:fragment="content1">

    <div id="menuTitleIco">
    <span class="glyphicon glyphicon-user"></span>
    </div>
    <span id="menuTitle">회사</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
		
		<div class="pull-right">
		<h3><a class="btn btn-default" th:href="@{/admin/companyInsert}">등록</a></h3>
		</div>

		<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>회사명</th>
				<th>사업자번호</th>
				<th>대표자명</th>
				<th>협약사</th>
				<th id="tdCenter">삭제</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="company:${companylist}">
				<td><a th:href="@{'/admin/companyDetail/'+${company.companyNo}}" th:text="${company.companyName}"></a></td>
				<td th:text="${company.companyLicense}"></td>
				<td th:text="${company.companyBoss}"></td>
				<!-- <td th:text="${company.companyConvention}"></td> -->
				<td th:if="${#strings.toString(company.companyConvention)}=='Convention'" th:text="협약사">상태</td>
				<td th:if="${#strings.toString(company.companyConvention)}=='NoConvention'" th:text="비협약사">상태</td>
				<td id="tdCenter"><a class="btn btn-danger btn-sm" th:href="@{/admin/companyDelete(cno=${company.companyNo})}">삭제</a></td>
			</tr>
			</tbody>
		</table>
	</div>

	<th:block layout:fragment="script1">
		<script>
			$(function() {
				var formObj = $("#f1");
				$(".pagination a").click(function(e) {
					e.preventDefault(); //본래의 기능(link)을 취소
					formObj.find("[name='page']").val($(this).attr("href"));
					/* alert($(this).attr("href")); */
					formObj.submit();
				});

				$("#searchBtn").click(function() {
					var typeStr = $("#searchType").find(":selected").val();
					var keywordStr = $("#searchKeyword").val();
					/* alert(typeStr + ":" + keywordStr); */
					formObj.find("[name='type']").val(typeStr);
					formObj.find("[name='keyword']").val(keywordStr);
					formObj.submit();
				});


			});

		</script>
	</th:block>

</body>
</html>