<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>KOSTA관리콘솔</title>
</head>
<body>

	<div class="panel panel-default" layout:fragment="content1">

    <div id="menuTitleIco">
    <span class="glyphicon glyphicon-tasks" ></span>
    </div>
    <span id="menuTitle">과정</span>
    
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->

		<div class="pull-right">
		<h3><a class="btn btn-default" th:href="@{/admin/courseInsert}">등록</a></h3>
		</div>
		
		<table border="1">
		<thead>
			<tr>
				<th>주제명</th>
				<th>과정명</th>
				<th>훈련일수</th>
				<th>총훈련시간</th>
				<th>과정단가</th>
				<th>정원</th>
				<th>삭제</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="course:${courselist}">				     
        		
				<td th:text="${course.subject.subName}"></td>
				<td><a th:href="@{/admin/courseDetail(cno=${course.courseNo})}" th:text="${course.courseName}"></a></td>
				<td th:text="${course.courseTotalTrainTime}"></td>
				<td th:text="${course.courseTotalDay}"></td>
				<td th:text="${course.coursePrice}"></td>
				<td th:text="${course.courseCapacity}"></td>
 				<td><a class="btn btn-danger btn-sm" th:href="@{/admin/courseDelete(cno=${course.courseNo})}">삭제</a></td>
			</tr>
			</tbody>
		</table>
  </div>

</body>
</html>