<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>과정등록</title>
</head>
<body>

	<div class="panel panel-default" layout:fragment="content1">

    <div id="menuTitleIco">
    <span class="glyphicon glyphicon-tasks" ></span>
    </div>
    <span id="menuTitle">과정 등록</span>		
	
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->

	<form th:action="@{/admin/courseInsert}" method="post" onSubmit="return sub()">
		<div class="form-group">
			<label for="title">과정명:</label>
			<input type="text" class="form-control" id="courseName1" name="courseName1" required>
		</div>
		
		<div class="form-group">
		<label for="content">주제:</label><br>
		 <select class="form-control" name="subject" id="subjectNo">
				<option th:each="slist : ${subjectlist}" th:value="${slist.subjectNo}" th:text="${slist.subjectNo} + ' : ' + ${slist.subName}"></option>
		</select>
		</div>
		
		<div class="form-group">
			<label for="title">주제->훈련대상:</label>
			<input type="text" class="form-control" id="traineeName" name="traineeName"  readonly>
		</div>
		

		<div class="form-group">
			<label for="writer">총훈련시간:</label> 
			<input type="number" class="form-control" id="courseTotalTrainTime" name="courseTotalTrainTime" required>
		</div>
		
		<div class="form-group">
			<label for="writer">훈련일수:</label> 
			<input type="number" class="form-control" id="courseTotalDay" name="courseTotalDay" required>
		</div>
		
		<div class="form-group">
			<label for="writer">과정단가:</label> 
			<input type="number" class="form-control" id="coursePrice" name="coursePrice" required>
		</div>
		
		<div class="form-group">
			<label for="writer">정원:</label> 
			<input type="number" class="form-control" id="courseCapacity" name="courseCapacity" required>
		</div>
		
		<div class="form-group">
		    <label for="content">교육대상권고사항:</label>
		    <textarea class="form-control" rows="10" cols="" id="courseTarget"  name="courseTarget" wrap="hard"></textarea>
		</div>
		
		<div class="form-group">
		    <label for="content">교육목표:</label>
		    <textarea class="form-control" rows="10" cols="" id="coursePurpose"  name="coursePurpose" wrap="hard"></textarea>
		</div>
		
		<div class="form-group">
		    <label for="content">교육내용:</label>
		    <textarea class="form-control" rows="10" cols="" id="courseContent"  name="courseContent" wrap="hard"></textarea>
		</div>

		<div class="form-group">
		<label for="content">수료증:</label><br>
		 <select class="form-control" name="certificate" id="certiNo">
				<option th:each="clist : ${certificatelist}" th:value="${clist.certiNo}" th:text="${clist.certiNo} + ' : ' + ${clist.certiName}"></option>
		</select>
		</div>
		
		<INPUT TYPE="hidden" id="tranineeCourseName" name="courseName">
			
		<button type="submit" class="btn btn-success">등록하기</button>
		<button type="reset" class="btn btn-primary">Reset</button>
	</form>

<script>
	function sub(){
		var a=document.getElementById('traineeName').value;
		var b=document.getElementById('courseName1').value;
		var c=a+b;
		$('#tranineeCourseName').val(c);
		document.form.submit();
		}
	
	$(function(){
		var no1 =  $("#subjectNo").val();
		/* alert(no1); */
		
			 $.ajax({
				url:"/admin/courseInsert1",
				data:{"no":no1},
				type:"get",
				success:function(responseData){
					var traineename = responseData.trainee.traineeName;
				$("#traineeName").attr("value",'['+traineename+']');
					}
				});
	}); 
	
	$("#subjectNo").change(function(){
	    var no1 =  $(this).val();
		/* alert(no1); */
		
			 $.ajax({
				url:"/admin/courseInsert1",
				data:{"no":no1},
				type:"get",
				success:function(responseData){
					var traineename = responseData.trainee.traineeName;
				$("#traineeName").attr("value",'['+traineename+']');
					}
				});
	});
</script>

</div>
</body>
</html>