<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>과정리스트</title>
</head>
<body>


	<div class="panel panel-default" layout:fragment="content1">

    <h1>과정</h1>
 	
		<p>[[${resultMessage}]]</p>
		
		
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	

<div class="container">
  <p>훈련대상:</p>
  <div class="btn-group" id="searchType1">
    <button class="btn btn-primary" value="">전체</button>
    <button class="btn btn-primary" value="채용예정자">채용예정자</button>
    <button class="btn btn-primary" value="재직자">재직자</button>  
  </div>
</div>




	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	



		<div id="searchType">
			<select>
				<option>전체</option>
				<option value="subName" th:selected="${pagevo.type=='subName'}">주제명</option>
				<option value="courseName" th:selected="${pagevo.type=='courseName'}">과정명</option>
				<option value="courseTotalTrainTime" th:selected="${pagevo.type=='courseTotalTrainTime'}">훈련일수</option>
				<option value="courseTotalDay" th:selected="${pagevo.type=='courseTotalDay'}">총훈련시간</option>
				<option value="coursePrice" th:selected="${pagevo.type=='coursePrice'}">과정단가</option>
				<option value="courseCapacity" th:selected="${pagevo.type=='courseCapacity'}">정원</option>

			</select> <input type="text" id="searchKeyword">
			<button id="searchBtn">조건검색</button>
		</div>
		
		<h3>
			<a class="label label-default" th:href="@{/admin/courseInsert}">등록</a>
		</h3>
		


		<table border="1">
			<tr>
				<th>주제명</th>
				<th>과정명</th>
				<th>훈련일수</th>
				<th>총훈련시간</th>
				<th>과정단가</th>
				<th>정원</th>
				<th>삭제</th>
			</tr>
			<tr th:each="course:${courselist}">				     
        		
				<td th:text="${course.subject.subName}"></td>
				<td><a th:href="@{/admin/courseDetail(cno=${course.courseNo})}" th:text="${course.courseName}"></a></td>
				<td th:text="${course.courseTotalTrainTime}"></td>
				<td th:text="${course.courseTotalDay}"></td>
				<td th:text="${course.coursePrice}"></td>
				<td th:text="${course.courseCapacity}"></td>
 				<td><a th:href="@{/admin/courseDelete(cno=${course.courseNo})}">삭제하기</a></td>
			</tr>
		</table>




		<!-- 페이징처리 -->
		<form id='f1' th:action="@{/admin/courseList}" method="get">
			<input type='hidden' name='page' th:value="${result.currentPageNum}">
			<input type='hidden' name='size' th:value="${result.currentPage.pageSize}"> 
			<input type='hidden' name='type' th:value="${pagevo.type}"> 
			<input type='hidden' name='keyword' th:value="${pagevo.keyword}">
		</form>

		<!-- 페이지리스트 -->
		<nav>
			<div>
				<ul class="pagination">

					<li class="page-item" th:if="${result.prevPage}"><a
						th:href="${result.prevPage.pageNumber}+1">PREV!!</a></li>

					<li class="page-item" th:each="pg:${result.pageList}"
						th:classappend="${pg.pageNumber==result.currentPageNum-1}?active:''">
						<!-- 현재 페이지가 넘어오면 -1 --> <a th:href="${pg.pageNumber}+1">[[${pg.pageNumber}+1]]</a>
					</li>

					<li class="page-item" th:if="${result.nextPage}"><a
						th:href="${result.nextPage.pageNumber}+1">
							NEXT!![[${result.nextPage.pageNumber}+1]]</a></li>

				</ul>
			</div>
		</nav>




  </div>


	<th:block layout:fragment="script1">
		<script>
			$(function() {
				var formObj = $("#f1");
				$(".pagination a").click(function(e) {
					e.preventDefault(); //본래의 기능(link)을 취소
					formObj.find("[name='page']").val($(this).attr("href"));
					/* alert($(this).attr("href")); */
					formObj.submit();
				});

				$("#searchBtn").click(function() {
					var typeStr = $("#searchType").find(":selected").val();
					var keywordStr = $("#searchKeyword").val();
					/* alert(typeStr + ":" + keywordStr); */
					formObj.find("[name='type']").val(typeStr);
					formObj.find("[name='keyword']").val(keywordStr);
					formObj.submit();
				});
				
				$(".btn-group button").click(function() {
					
					alert($(this).val());
					var typeStr = "courseName";
					var keywordStr = $(this).attr('value');
					alert(typeStr + ":" + keywordStr);
					formObj.find("[name='type']").val(typeStr);
					formObj.find("[name='keyword']").val(keywordStr);
					formObj.submit();
				});

				$(".boardLink")
						.click(
								function(e) {
									e.preventDefault();
									var bno = $(this).attr("href"); /*  href 읽어와서  */
									/* 	수정하고 바꿔라 */
									formObj.attr("action",
											"[[@{/webboard/boarddetail}]]");
									formObj
											.append("<input type='hidden' name='bno' value='" + bno +"'>")
									formObj.submit();
								});

			});
		</script>
	</th:block>
  
  

</body>
</html>