<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	
<div id="menuTitleIco"><span class="glyphicon glyphicon-time"></span></div><span id="menuTitle">교육시간</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<div class="pull-right">
	<h3><a class="btn btn-default" th:href="@{/admin/educationtimeInsert}">등록</a></h3>
	</div>
	
	<table>
	<thead>
	<tr>
	 <th>이름</th>
	 <th>유형</th>
	 <th>시간대</th>
	 <th id="tdCenter">삭제</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="educationTime:${EducationTimeResult}" >
		<td> 
		<a th:href="@{'/admin/educationTimeModify/'+${educationTime.educationTimeNo}}" th:text="${educationTime.educationTimeName}">이름</a>
		</td>
		<td th:if="${#strings.toString(educationTime.educationPartType)}=='DAY'" th:text="주간">유형</td>
		<td th:if="${#strings.toString(educationTime.educationPartType)}=='NIGHT'" th:text="야간">유형</td>
		<td th:if="${#strings.toString(educationTime.educationPartType)}=='WEEKEND'" th:text="주말">유형</td>
		<td th:text="${educationTime.educationTimeType}">시간대</td>
		<td id="tdCenter"><a class="btn btn-danger btn-sm" th:href="@{/admin/educationtimeDelete(no=${educationTime.educationTimeNo})}">삭제</a></td>
	</tr>
	</tbody>
	</table>
</div>
</body>
</html>