<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">

<div id="menuTitleIco"><span class="glyphicon glyphicon-time"></span></div><span id="menuTitle">
<th:block th:if="${EducationTime == null}">교육시간 등록</th:block>
<th:block th:unless="${EducationTime == null}">교육시간 상세보기</th:block>
</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<form th:action="@{/admin/educationtimeInsert}" method="post">
	    <div class="form-group">
	    
	      <th:block th:unless="${EducationTime == null}">
	      	<input type="hidden" id="educationTimeNo" name="educationTimeNo" th:value="${EducationTime.educationTimeNo}">
	      </th:block>	
	        
	      <label for="educationTimeName">이름:</label>
	      	<input 
	      	type="text" 
	      	class="form-control" 
	      	id="educationTimeName" 
	      	name="educationTimeName"
	      	placeholder="예) 주간(8시간)"
	      	th:value="${EducationTime != null}?${EducationTime.educationTimeName}:${null}">
	    </div>
	    
	    <div class="form-group">
	      <label for="educationPartType">유형:</label>
		      <select class="form-control" name="educationPartType" id="educationPartType">
					<option th:value="DAY" th:utext="주간" th:selected="${EducationTime != null and #strings.toString(EducationTime.educationPartType)=='DAY'}"></option>
					<option th:value="NIGHT" th:utext="야간" th:selected="${EducationTime != null and #strings.toString(EducationTime.educationPartType)=='NIGHT'}"></option>
					<option th:value="WEEKEND" th:utext="주말" th:selected="${EducationTime != null and #strings.toString(EducationTime.educationPartType)=='WEEKEND'}"></option>
			  </select>
	    </div>
	    
	    <div class="form-group">
	      <label for="educationTimeType">시간대:</label>
	      	<input 
	      	type="text" 
	      	class="form-control" 
	      	id="educationTimeType" 
	      	name="educationTimeType"
	      	placeholder="예) 09:00~17:00"
	      	th:value="${EducationTime != null}?${EducationTime.educationTimeType}:${null}">
		 
	    </div>
	    <button type="button" class="btn btn-success" onclick = "location.href = '/admin/educationtimemain'">취소</button>
	    <button type="submit" class="btn btn-success">등록하기</button>
 	</form>
</div>
</body>
</html>