<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	<h4>강의장 신규등록</h4>
	<form th:action="@{/admin/lecturehallInsert}" method="post">
	
	<th:block th:unless="${lectureHall == null}">
	    <input type="hidden" id="lectureHallNo" name="lectureHallNo" th:value="${lectureHall.lectureHallNo}">
	</th:block>	
	
    <div class="form-group">
      <label for="lectureHallName">강의장 이름:</label>
      <th:block th:if="${lectureHall == null}">
      	<input type="text" class="form-control" id="lectureHallName" name="lectureHallName">
      </th:block>
      <th:block th:unless="${lectureHall == null}">
      	<input type="text" class="form-control" id="lectureHallName" name="lectureHallName" th:value="${lectureHall.lectureHallName}">
      </th:block>
    </div>
    <div class="form-group">
      <label for="lectureHallAddress">강의장 주소:</label>
      <th:block th:if="${lectureHall == null}">
	  	<textarea class="form-control" rows="5" cols="" id="lectureHallAddress" name="lectureHallAddress"></textarea>    
	  </th:block>
	  <th:block th:unless="${lectureHall == null}">
	  	<textarea class="form-control" rows="5" cols="" id="lectureHallAddress" name="lectureHallAddress">[[${lectureHall.lectureHallAddress}]]</textarea>    
	  </th:block>
    </div>
    <div class="form-group">
      <label for="lectureHallPhone">강의장 전화번호:</label>
      <th:block th:if="${lectureHall == null}">
      	<input type="text" class="form-control" id="lectureHallPhone" name="lectureHallPhone">
      </th:block>
      <th:block th:unless="${lectureHall == null}">
      	<input type="text" class="form-control" id="lectureHallPhone" name="lectureHallPhone" th:value="${lectureHall.lectureHallPhone}">
      </th:block>
      
    </div>
    <button type="button" class="btn btn-success" onclick = "location.href = '/admin/lecturehallmain'">취소</button>
    <button type="submit" class="btn btn-success">등록하기</button>
  </form>
</div>
</body>
</html>