<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	
   <div id="menuTitleIco"><span class="glyphicon glyphicon-home"></span></div><span id="menuTitle">강의장</span>
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<div class="pull-right">
	<h3><a class="btn btn-default" th:href="@{/admin/lecturehallInsert}">등록</a></h3>
	</div>
	
	<table>
	<thead>
		<tr>
		 <th>이름</th>
		 <th>주소</th>
		 <th id="tdCenter">삭제</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="lectureHall:${lectureHallList}" >
			<td>
			<a th:href="@{'/admin/lectureHallModify/'+${lectureHall.lectureHallNo}}" th:text="${lectureHall.lectureHallName}">이름</a>
			</td>
			<td th:text="${lectureHall.lectureHallAddress}">주소</td>
			<td id="tdCenter"><a class="btn btn-danger btn-sm" th:href="@{/admin/lectureHallDelete(no=${lectureHall.lectureHallNo})}">삭제</a></td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>