<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>강의계획</title>
</head>
<body>

<div class="panel panel-default" layout:fragment="content1">

 <div id="menuTitleIco">
 <span class="glyphicon glyphicon-calendar"></span>
 </div>
 <span id="menuTitle">강의계획</span>
 
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->

	<div class="pull-right">
	<h3><a class="btn btn-default" th:href="@{/admin/lectureInsert}">등록</a></h3>
	</div>

		<table border="1">
		<thead>
			<tr>
				<th>과정명</th>
				<th>강의계획년</th>
				<th>연간개설횟수</th>
				<th>목표정원</th>
				<th id="tdCenter">삭제</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="lecture:${lecturelist}">
				<td><a th:href="@{'/admin/lectureDetail/'+${lecture.lecturePlanNo}}" th:text="${lecture.course.courseName}"></a></td>
				<td th:text="${lecture.lecturePlanYear}"></td>
				<td th:text="${lecture.lectureOpenCount}"></td>
				<td th:text="${lecture.lectureCapacity}"></td>
 	 			<td id="tdCenter"><a class="btn btn-danger btn-sm" th:href="@{/admin/lectureDelete(cno=${lecture.lecturePlanNo})}">삭제</a></td>
			</tr>
			</tbody>
		</table>

	<th:block layout:fragment="script1">
		<script>
			$(function() {
				var formObj = $("#f1");
				$(".pagination a").click(function(e) {
					e.preventDefault(); //본래의 기능(link)을 취소
					formObj.find("[name='page']").val($(this).attr("href"));
					alert($(this).attr("href"));
					formObj.submit();
				});

				$("#searchBtn").click(function() {
					var typeStr = $("#searchType").find(":selected").val();
					var keywordStr = $("#searchKeyword").val();
					alert(typeStr + ":" + keywordStr);
					formObj.find("[name='type']").val(typeStr);
					formObj.find("[name='keyword']").val(keywordStr);
					formObj.submit();
				});

			});
		</script>
	</th:block>

  </div>
</body>
</html>