<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>강의계획등록</title>
</head>
<body>

<div class="panel panel-default" layout:fragment="content1">

 <div id="menuTitleIco">
 <span class="glyphicon glyphicon-calendar"></span>
 </div>
 <span id="menuTitle">강의계획 상세보기</span>
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->


	<form th:action="@{/admin/lectureUpdate}" method="post">
	<input type="hidden" id="lecturePlanNo" name="lecturePlanNo" th:value="${lecture.lecturePlanNo}">

		<div class="form-group">
		<label for="writer">과정명:</label><br>
		 <select class="form-control" name="course" id="courseNo">
				<option th:each="clist : ${courselist}" 
				th:value="${clist.courseNo}" 
				th:text="${clist.courseName}"
				th:selected="${lecture.course.courseName==clist.courseName}">
				</option>
		</select>
		</div>

		<div class="form-group">
			<label for="writer">강의계획년:</label> 
			<input type="number" class="form-control" id="lecturePlanYear" name="lecturePlanYear" th:value="${lecture.lecturePlanYear}" required>
		</div>
		
		<div class="form-group">
			<label for="writer">연간개설횟수:</label> 
			<input type="number" class="form-control" id="lectureOpenCount" name="lectureOpenCount" th:value="${lecture.lectureOpenCount}" required>
		</div>
		
		<div class="form-group">
			<label for="writer">목표정원:<sub>   (과정정원*연간개설횟수)</sub></label> 
			<input type="number" class="form-control" id="lectureCapacity" name="lectureCapacity" readonly>
		</div>

		<div class="form-group">
		    <label for="writer">교육대상:</label>
		    <textarea class="form-control" rows="10" cols="" id="lectureTarget" name="lectureTarget" th:text="${lecture.lectureTarget}" wrap="hard"></textarea>
		</div>
		
		<div class="form-group">
		    <label for="writer">패널티안내:</label>
		    <textarea class="form-control" rows="10" cols="" id="lecturePenalty" name="lecturePenalty" th:text="${lecture.lecturePenalty}" wrap="hard"></textarea>
		</div>
		
		<div class="form-group">
		    <label for="writer">비대면안내:</label>
		    <textarea class="form-control" rows="10" cols="" id="lectureOnline" name="lectureOnline" th:text="${lecture.lectureOnline}"  wrap="hard"></textarea>
		</div>

		<div class="form-group">
			<label for="writer">문의센터:</label> 
			<input type="text" class="form-control" id="lectureAsk" name="lectureAsk" th:value="${lecture.lectureAsk}" required>
		</div>
	
		<button type="submit" class="btn btn-success">저장</button>
		<button type="button" class="btn btn-success" onclick = "location.href = '/admin/lectureList'">취소</button> 
	</form>
	
	<script>
	$(function(){
		 ajaxfn();
	});
	
	function ajaxfn(){
	    var courseno =  $("#courseNo").val();
	    var lectureopencount=$("#lectureOpenCount").val();
		 $.ajax({
				url:"/admin/lectureInsert1",
				data:{"no":courseno},
				type:"get",
				success:function(responseData){
					var coursecapacity = responseData;
				$("#lectureCapacity").attr("value",lectureopencount*coursecapacity);
					}
				});
	}
	
	$("#lectureOpenCount").change(function(){
	    ajaxfn();
	})
	</script>
</div>

</body>
</html>