<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">

    <div id="menuTitleIco"><span class="glyphicon glyphicon-home"></span></div><span id="menuTitle">
    <th:block th:if="${lectureHall == null}">강의장 등록</th:block>
    <th:block th:unless="${lectureHall == null}">강의장 상세보기</th:block>
    </span>
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<form th:action="@{/admin/lecturehallInsert}" method="post">
	
	<th:block th:unless="${lectureHall == null}">
	    <input type="hidden" id="lectureHallNo" name="lectureHallNo" th:value="${lectureHall.lectureHallNo}">
	</th:block>	
	
    <div class="form-group">
      <label for="lectureHallName">강의장 이름:</label>
      	<input type="text" class="form-control" id="lectureHallName" name="lectureHallName" th:value="${lectureHall != null}?${lectureHall.lectureHallName}:${null}">
    </div>
    <div class="form-group">
      <label for="lectureHallAddress">강의장 주소:</label>
	  	<textarea 
	  	class="form-control" 
	  	rows="5" 
	  	cols="" 
	  	id="lectureHallAddress" 
	  	name="lectureHallAddress"
	  	th:text="${lectureHall != null}?${lectureHall.lectureHallAddress}:${null}"
	  	></textarea>    
    </div>
    <div class="form-group">
      <label for="lectureHallPhone">강의장 전화번호:</label>
      	<input type="text" class="form-control" id="lectureHallPhone" name="lectureHallPhone" th:value="${lectureHall != null}?${lectureHall.lectureHallPhone}:${null}">
    </div>
    <button type="button" class="btn btn-success" onclick = "location.href = '/admin/lecturehallmain'">취소</button>
    <button type="submit" class="btn btn-success">등록하기</button>
  </form>
</div>
</body>
</html>