<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	#mainView0{
	  width: 100%;
	  height: 80px;
	  float : left;
	  padding : 0;
	  margin : 0;
	  margin-bottom: 20px;
	  margin-top: 5px;
	  text-align:center;
	}
	.contentdiv{ 
	  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
	  border-radius: 5px;
	  background-color : #6a7ca2;
	  width: 10%;
	  height: 70px;
	  padding : 0;
	  margin : 3px 5px 0px 5px;
	  text-align: center;
	  color :white;
	  font-size: 25px;
	  display: inline-block;
	  
	}
	.content{
	  margin-left : 10px;
	  margin-top : 8px;
	  margin-bottom : 0px;
	  text-align: left;
	  font-size: 15px;
	  color : white;
	}
</style>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">


	<div id="menuTitleIco"><span class="glyphicon glyphicon-list-alt"></span></div><span id="menuTitle">수강신청 상세보기</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<div class="col-md-12">


						<div class="tab-content tab-pane">
							<div class="panel-body">
								<table class="table table-read">
									<colgroup>
										<col width="8%">
										<col width="40%">
									</colgroup>

										<tr>
											<td class="text-center readTh">강의명</td>
											<td th:text="${classes.lecture.course.courseName}">강의명</td>
										</tr>
										<tr>
											<td class="text-center readTh">정원</td>
											<td th:text="${classes.lecture.course.courseCapacity}">정원</td>
										</tr>
										<tr>
											<td class="text-center readTh">기간</td>
											<td th:text="${classes.classOpenDate}+ '~'+ ${classes.classCloseDate}">기간</td>
										</tr>
										<tr>
											<td class="text-center readTh">강사명</td>
											<td th:text="${classes.teacher.teacherName}">강사명</td>
										</tr>
										<tr>
											<td class="text-center readTh">강의장</td>
											<td>강의장</td>
										</tr>
								</table>
							</div>
						</div>
					</div>
	
	<div id="mainView0">
		<div class="contentdiv">
			<p class="content">전체</p>
			<p>[[${classes.waitCount}+${classes.cancelCount}+${classes.commitCount}]]</p>
		</div>
		<div class="contentdiv">
			<p class="content">대기</p>
			<p>[[${classes.waitCount}]]</p>
		</div>
		<div class="contentdiv">
			<p class="content">확정</p>
			<p>[[${classes.commitCount}]]</p>
		</div>
		<div class="contentdiv">
			<p class="content">취소</p>
			<p>[[${classes.cancelCount}]]</p>
		</div>
	</div>
	
	<table>
	<tr>
	<thead>
	 <th>상태</th>
	 <th>아이디</th>
	 <th>이름</th>
	 <th>직무</th>
	 <th>직함</th>
	 <th>전화번호</th>
	 <th>이메일</th>
	 <th>주민번호</th>
	 <th>협약사</th>
	 <th>소속회사</th>
	 <th>수강신청일</th>
 	 <th>상태변경</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="classHistory:${classHistoryList}" >
		<td th:if="${#strings.toString(classHistory.classHistoryState)}=='WAIT'" th:text="대기">상태</td>
		<td th:if="${#strings.toString(classHistory.classHistoryState)}=='CANCEL'" th:text="취소">상태</td>
		<td th:if="${#strings.toString(classHistory.classHistoryState)}=='COMMIT'" th:text="확정">상태</td>
		<td th:if="${#strings.toString(classHistory.classHistoryState)}=='COMPLETED'" th:text="수료">상태</td>
		<td th:if="${#strings.toString(classHistory.classHistoryState)}=='UNCOMPLETED'" th:text="미수료">상태</td>
		<td th:text="${classHistory.user.userId}">아이디</td>
		<td th:text="${classHistory.user.userName}">이름</td>
		<td th:text="${classHistory.user.userJob}">직무</td>
		<td th:text="${classHistory.user.userPosition}">직함</td>
		<td th:text="${classHistory.user.userPhone}">전화번호</td>
		<td th:text="${classHistory.user.userEmail}">이메일</td>
		<td th:text="${classHistory.user.userIdentity != null}?${classHistory.user.userIdentity}:' '">주민번호</td>
		<td th:if="${#strings.toString(classHistory.user.company.companyConvention)}=='Convention'" th:text="협약사">협약사</td>
		<td th:if="${#strings.toString(classHistory.user.company.companyConvention)}=='NoConvention'" th:text="비협약사">협약사</td>
		<td th:if="${#strings.toString(classHistory.user.company.companyConvention)}=='None'" th:text="X">없음</td>
		<td th:text="${classHistory.user.company.companyName}">소속회사</td>
		<td th:text="${#temporals.format(classHistory.classHistoryDate,'yyyy-MM-dd hh:mm:ss')}">수강신청일</td>
		
		<th:block th:if="${#strings.toString(classHistory.classHistoryState)}=='WAIT'">
			<td>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailCommit/'+${classHistory.classHistoryNo}}" th:text="확정"></a>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailCancel/'+${classHistory.classHistoryNo}}" th:text="취소"></a>
			</td>
		</th:block>
		<th:block th:if="${#strings.toString(classHistory.classHistoryState)}=='CANCEL'">
			<td>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailCommit/'+${classHistory.classHistoryNo}}" th:text="확정"></a>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailWait/'+${classHistory.classHistoryNo}}" th:text="대기"></a>
			</td>
		</th:block>
		<th:block th:if="${#strings.toString(classHistory.classHistoryState)}=='COMMIT'">
			<td>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailWait/'+${classHistory.classHistoryNo}}" th:text="대기"></a>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailCancel/'+${classHistory.classHistoryNo}}" th:text="취소"></a>
			</td>
		</th:block>
		<th:block th:if="${#strings.toString(classHistory.classHistoryState)}=='COMPLETED'">
			<td>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailUncomplete/'+${classHistory.classHistoryNo}}" th:text="미수료"></a>
			</td>
		</th:block>
		<th:block th:if="${#strings.toString(classHistory.classHistoryState)}=='UNCOMPLETED'">
			<td>
				<a class="btn btn-default btn-sm" th:href="@{'/admin/manageClassDetailComplete/'+${classHistory.classHistoryNo}}" th:text="수료"></a>
			</td>
		</th:block>
	</tr>
	</tbody>
	</table>
</div>
</html>