<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">

	<div id="menuTitleIco"><span class="glyphicon glyphicon-tags"></span></div><span id="menuTitle">
	<th:block th:if="${subject == null}">주제 등록</th:block>
	<th:block th:unless="${subject == null}">주제 상세보기</th:block>
	</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	
	<form id="frm" th:action="@{/admin/subjectInsert}" method="post">
	    <div class="form-group">

	       <th:block th:unless="${subject == null}">
	       <input type="hidden" id="subjectNo" name="subjectNo" th:value="${subject.subjectNo}">
	       </th:block>

	      <label for="subName">주제명:</label>
	      	<input 
	      	type="text" 
	      	class="form-control" 
	      	id="subName" 
	      	name="subName" 
	      	th:value="${subject != null}?${subject.subName}:${null}">
	      
	    </div>
	    <div class="form-group">
	      <label for="subPriority">순서:</label>
		      <input 
		      type="number" 
		      class="form-control" 
		      id="subPriority" 
		      name="subPriority" 
		      th:value="${subject != null}?${subject.subPriority}:${null}">
	    </div>

	    <div class="form-group">
	      <label for="subExplain">설명:</label>
			  <textarea 
			  class="form-control" 
			  rows="5" 
			  cols="" 
			  id="subExplain" 
			  name="subExplain" 
			  th:text="${subject != null}?${subject.subExplain}:${null}"></textarea>    
	    </div>

	    <div>
		  <label for="trainee">훈련대상</label>
		  
	      <select class="select" name="trainee" id="trainee">
				<option 
				th:each="trainee:${traineeList}" 
				th:value="${trainee.traineeNo}" 
				th:utext="${trainee.traineeName}"
				th:selected="${subject != null and subject.trainee.traineeNo==trainee.traineeNo}"></option>
		  </select>
		 
		</div>
	    <button type="button" class="btn btn-success" onclick = "location.href = '/admin/subjectmain'">취소</button>
		<th:block th:unless="${subject == null}">
		    <button id="delbtn" type="button" class="btn btn-success">삭제</button>
	    </th:block>
	    <button type="submit" class="btn btn-success">저장</button>
 	</form>
</div>
<th:block layout:fragment="script1">
	<script>
		var formObj = $("#frm");
	
		$("#delbtn").click(function(e){
			e.preventDefault();
			formObj.attr("action","[[@{/admin/subjectDelete}]]");
			formObj.attr("method","get");
			formObj.submit();
		});
	</script>
</th:block>
</body>
</html>