<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	<h4>주제 신규등록</h4>
	
	<form id="frm" th:action="@{/admin/subjectInsert}" method="post">
	    <div class="form-group">
	      <label for="subName">주제명:</label>
	       <th:block th:unless="${subject == null}">
	       <input type="hidden" id="subjectNo" name="subjectNo" th:value="${subject.subjectNo}">
	       </th:block>
	 	  <th:block th:if="${subject == null}">
	      	<input 
	      	type="text" 
	      	class="form-control" 
	      	id="subName" 
	      	name="subName">
	      </th:block>
	 	  <th:block th:unless="${subject == null}">
	      	<input 
	      	type="text" 
	      	class="form-control" 
	      	id="subName" 
	      	name="subName" 
	      	th:value="${subject.subName}">
	      </th:block>
	    </div>
	    <div class="form-group">
	      <label for="subPriority">순서:</label>
	 	  <th:block th:if="${subject == null}">
		      <input type="number" class="form-control" id="subPriority" name="subPriority">
	      </th:block>
	 	  <th:block th:unless="${subject == null}">
		      <input 
		      type="number" 
		      class="form-control" 
		      id="subPriority" 
		      name="subPriority" 
		      th:value="${subject.subPriority}">
	      </th:block>
	 
	    </div>

	    <div class="form-group">
	      <label for="subExplain">설명:</label>
	 	  <th:block th:if="${subject == null}">
			  <textarea class="form-control" rows="5" cols="" id="subExplain" name="subExplain"></textarea>    
	      </th:block>
	 	  <th:block th:unless="${subject == null}">
			  <textarea 
			  class="form-control" 
			  rows="5" 
			  cols="" 
			  id="subExplain" 
			  name="subExplain" 
			  th:text=${subject.subExplain}></textarea>    
	      </th:block>
	    </div>

	    <div>
		  <label for="trainee">훈련대상</label>
		  
		<th:block th:if="${subject == null}">
	      <select class="select" name="trainee" id="trainee">
				<option 
				th:each="trainee:${traineeList}" 
				th:value="${trainee.traineeNo}" 
				th:utext="${trainee.traineeName}"></option>
		  </select>
	    </th:block>
		<th:block th:unless="${subject == null}">
	      <select class="select" name="trainee" id="trainee">
				<option 
				th:each="trainee:${traineeList}" 
				th:value="${trainee.traineeNo}" 
				th:utext="${trainee.traineeName}" 
				th:selected="${subject.trainee.traineeNo==trainee.traineeNo}"></option>
		  </select>
	    </th:block> 
		</div>
	    <button type="button" class="btn btn-success" onclick = "location.href = '/admin/subjectmain'">취소</button>
		<th:block th:unless="${subject == null}">
		    <button id="delbtn" type="button" class="btn btn-success">삭제</button>
	    </th:block>
	    <button type="submit" class="btn btn-success">저장</button>
 	</form>
</div>
<th:block layout:fragment="script1">
	<script>
		var formObj = $("#frm");
	
		$("#delbtn").click(function(e){
			e.preventDefault();
			formObj.attr("action","[[@{/admin/subjectDelete}]]");
			formObj.attr("method","get");
			formObj.submit();
		});
	</script>
</th:block>
</body>
</html>