<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
	<h4>주제 신규등록</h4>
	
	<form th:action="@{/admin/subjectInsert}" method="post">
	    <div class="form-group">
	      <label for="subName">주제명:</label>
	      <input type="text" class="form-control" id="subName" name="subName">
	    </div>
	    <div class="form-group">
	      <label for="subPriority">순서:</label>
	      <input type="number" class="form-control" id="subPriority" name="subPriority">
	    </div>
	    <div class="form-group">
	      <label for="subExplain">설명:</label>
		  <textarea class="form-control" rows="5" cols="" id="subExplain" name="subExplain"></textarea>    
	    </div>
	    <div>
		  <label for="trainee">훈련대상</label>
	      <select class="select" name="trainee" id="trainee">
				<option th:each="trainee:${traineeList}" th:value="${trainee.traineeNo}" th:utext="${trainee.traineeName}"></option>
		  </select>
		</div>
	    <button type="submit" class="btn btn-success">등록하기</button>
 	</form>
</div>
</body>
</html>