<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">

	<div id="menuTitleIco"><span class="glyphicon glyphicon-tags"></span></div><span id="menuTitle">주제</span>
   
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->
	

	<div class="pull-right">
	<h3><a class="btn btn-default" th:href="@{/admin/subjectInsert}">등록</a></h3>
	</div>
	
	<table border="1">
	  <thead>
		<tr>
		 <th>순서</th>
		 <th>주제명</th>
		 <th>훈련대상</th>
		 <th>설명</th>
		</tr>
	  </thead>
	  <tbody>
		<tr th:each="subject:${SubjectResult}" >
			<td th:text="${subject.subPriority}">순서</td>
			<td>
			 <a th:href="@{'/admin/subjectModify/'+${subject.subjectNo}}" th:text="${subject.subName}">주제명</a>
			 </td>
			<td th:text="${subject.trainee.traineeName}">훈련대상</td>
			<td th:if="${not #strings.isEmpty(subject.subExplain)}" th:text="${subject.subExplain}">설명</td>
			<td th:if="${#strings.isEmpty(subject.subExplain)}" th:text=" ">설명빈칸출력</p>
		</tr>
	  </tbody>
	</table>
	
	
</div>
</body>
</html>