<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{/layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>강사등록</title>
</head>
<body>

	<div class="pannel panel-default" layout:fragment="content1">

	<h1>강사 등록</h1>


	<form th:action="@{/admin/teacherInsert}" method="post">
		<div class="form-group">
			<label for="title">강사ID:</label> 
			<input type="text"
				class="form-control" id="title" placeholder="Enter title"
				name="teacherId">
		</div>
		<div class="form-group">
			<label for="content">강사이름:</label>
							<input type="text"
				class="form-control" id="title" placeholder="Enter title"
				name="teacherName">
		</div>
		<div class="form-group">
			<label for="writer">강사전화번호:</label> 
			<input type="text"
				class="form-control" id="writer" placeholder="Enter writer"
				name="teacherPhone">
		</div>
				<div class="form-group">
			<label for="writer">강사 이메일:</label> 
			<input type="text"
				class="form-control" id="writer" placeholder="Enter writer"
				name="teacherEmail">
		</div>
			
		<button type="submit" class="btn btn-success">등록하기</button>
		<button type="reset" class="btn btn-primary">Reset</button>
	</form>

</div>
</body>
</html>