<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymelaf/layout"
	layout:decorate="~{layout/layoutadmin}">
<head>
<meta charset="UTF-8">
<title>강사 상세보기</title>
</head>
<body>

	<div class="panel panel-default" layout:fragment="content1">

	<div id="menuTitleIco">
	<span class="glyphicon glyphicon-education"></span>
	</div>
	<span id="menuTitle">강사 상세보기</span>
	
	<!-- 메뉴분리용 div -->
		<div id="divContentline"></div>
	<!-- 메뉴분리용 div 끝-->

	<form th:action="@{/admin/teacherUpdate}" method="post">
		<input type="hidden" id="teacherNo" name="teacherNo" th:value="${teacher.teacherNo}">
		<input type="hidden" id="teacherRegDate" name="teacherRegDate" th:value="${teacher.teacherRegDate}">
		<div class="form-group">
			<label for="title">강사ID:</label> 
			<input type="text" class="form-control" id="title" name="teacherId" th:value="${teacher.teacherId}" required>
		</div>
		<div class="form-group">
			<label for="content">강사이름:</label>
							<input type="text" class="form-control" id="title" name="teacherName" th:value="${teacher.teacherName}" required>
		</div>
		<div class="form-group">
			<label for="writer">강사전화번호:</label> 
			<input type="tel" class="form-control" id="writer" name="teacherPhone" th:value="${teacher.teacherPhone}" required>
		</div>
				<div class="form-group">
			<label for="writer">강사 이메일:</label> 
			<input type="email" class="form-control" id="writer" name="teacherEmail" th:value="${teacher.teacherEmail}" required>
		</div>
			
		<button type="submit" class="btn btn-success">수정</button>
		<button type="button" class="btn btn-success" onclick = "location.href = '/admin/teacherList'">취소</button> 

	</form>

</div>
</body>
</html>