<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<title>Insert title here</title>
<script>
	$(function(){
		var formObj = $(".form1");
		
		$(".searchBtn").click(function(){
			var keyword = $(".searchKeyword").val();
			
			formObj.find("[name='keyword']").val(keyword);
			formObj.submit();
		});
		$(".dataTables_filter").remove();	
	});
</script>
</head>
<body>
	<div>
		<input type="text" class="searchKeyword">
		<button class="searchBtn">검색</button>
	</div>

	<form class="form1" th:action="@{/search/searchResult}" method="get">
		<input type="hidden" name="keyword" value="">

	</form>

</body>
</html>