<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutUser}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<th:block layout:fragment="script1">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<title>Insert title here</title>
<th:block layout:fragment="script1">

</th:block>
</th:block>
 <th:block layout:fragment="style1">
 </th:block>
</head>
<body>
<div layout:fragment="content1">
	<div>
		<input type="text" class="searchKeyword" th:value="${word}">
		<button class="searchBtn">검색</button>
	</div>

	
	
	<hr>
		
	<div>
	<span>주제명</span>
	<th:block th:each="subject:${sublist}">
	<div th:text="${subject.subName}"></div>
	</th:block>
	</div>
	
	<hr>
	
	<div>
	<span>강의장</span>
	<th:block th:each="hall:${hlist}">
	<div th:text="${hall.lectureHallName}"></div>
	</th:block>
	</div>
	
	<hr>
	
	<table>
		<tr>
			<th>과정명</th>
			<th>개강일</th>
			<th>종강일</th>
			<th>교육시간</th>
			<th>강의장</th>
		</tr>
		<tr th:each="class:${result}">
			<td th:text=${class.lecture.course.courseName}></td>
			<td th:text=${class.classOpenDate}></td>
			<td th:text=${class.classCloseDate}></td>
			<td th:text=${class.educationTime.educationTimeType}></td>
			<td th:text=${class.classRoom.lectureHall.lectureHallName}></td>
		</tr>
	</table>

</div>
</body>
</html>