<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<title>Insert title here</title>
<script>
	$(function(){
		var formObj = $("#form1");
		
		$("#searchBtn").click(function(){
			var keyword = $("#searchKeyword").val();
			
			formObj.find("[name='keyword']").val(keyword);
			formObj.submit();
		});
		
	});
</script>
</head>
<body>
	<div>
		<input type="text" id="searchKeyword" th:value="${word}">
		<button id="searchBtn">검색</button>
	</div>

	<form id="form1" th:action="@{/search/searchResult}" method="get">
		<input type="hidden" name="keyword" value="">

	</form>
	
	<hr>
	
	<div>
	<span>주제명</span>
	<th:block th:each="subject:${sublist}">
	<div th:text="${subject.subName}"></div>
	</th:block>
	</div>
	
	<hr>
	
	<div>
	<span>강의장</span>
	<th:block th:each="hall:${hlist}">
	<div th:text="${hall.lectureHallName}"></div>
	</th:block>
	</div>
	
	<hr>
	
	<table>
		<tr>
			<th>과정명</th>
			<th>개강일</th>
			<th>종강일</th>
			<th>교육시간</th>
			<th>강의장</th>
		</tr>
		<tr th:each="class:${result}">
			<td th:text=${class.lecture.course.courseName}></td>
			<td th:text=${class.classOpenDate}></td>
			<td th:text=${class.classCloseDate}></td>
			<td th:text=${class.educationTime.educationTimeType}></td>
			<td th:text=${class.classRoom.lectureHall.lectureHallName}></td>
		</tr>
	</table>

</body>
</html>