<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutUser}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<th:block layout:fragment="script1">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<title>Insert title here</title>
	<script th:src="@{/js/tablesort.js}"></script>
	<link rel="stylesheet" type="text/css"
		href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
	<script>
		$(function() {
			$("table").addClass(
					"table table-striped table-bordered table-hover");
			$("table").attr("id", "tablesort");
			$("#tablesort").dataTable();
			$(".dataTables_filter").remove();
		});
	</script>
	<script>
	
		//키워드로 검색
		$(function() {
			var formObj = $(".form2");

			$(".searchBtn2").click(function() {
				var keyword = $(".searchKeyword2").val();

				formObj.find("[name='keyword']").val(keyword);
				formObj.submit();
			});

		});

		//과목 검색
		$(function() {
			var formObj = $(".form2");
			
			$("#sub .smenu").click(function() {
				subNo = $(this).attr("value");
				
				//선택한 버튼만 활성화
				$("#sub .smenu").each(function(idx, item) {
					$(item).removeClass('active');
				});
				$("#sub .smenu").each(function(idx, item) {
					if ($(item).val() == subNo) {
						$(item).addClass('active');
					}
				});

				$.ajax({
					url : "searchSubject",
					data : {
						"subNo" : $(this).attr("value"),
						"keyword" : "[[${word}]]"
					},
					method : "get",
					success : function(response) {
						$("#table_content").html(response);
					}
				});
			});
		});

		//강의장 검색
		$(function() {
			var formObj = $(".form2");

			$(".space .hmenu").click(function() {
				hallNo = $(this).attr("value");

				//선택한 버튼만 활성화
				$(".space .hmenu").each(function(idx, item) {
					$(item).removeClass('active');
				});
				$(".space .hmenu").each(function(idx, item) {
					if ($(item).val() == hallNo) {
						$(item).addClass('active');
					}
				});

				$.ajax({
					url : "searchHall",
					data : {
						"subNo" : "[[${subNo}]]",
						"lecHallNo" : hallNo,
						"keyword" : "[[${word}]]"
					},
					method : "get",
					success : function(response) {
						$("#final_content").html(response);
					}
				});
			});
			
		});
		

	</script>

</th:block>
<th:block layout:fragment="style1">
<style>
.cencen {
	margin: 0 auto;
	text-align: center;
}

.searchKeyword2 {
	width: 600px;
	height: 40px;
	margin: 25px;
}

.searchBtn2 {
	height: 40px;
}

.category {
	font-size: 32px;
}

#final_content {
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 25px;
}

#topBanner{
  padding : 0 px;
  margin : 0 px;
  width:100%;
  height : 300px;
  background-color: #6a7ca2;
  text-align: center;
  vertical-align: center;
  }
  
#topBannerTitleText{
  padding-top : 130px;
  color:white;
  font-size : 30px;
  }
#topBannerTitleText span{
  padding-top : 130px;
  color:white;
  font-size : 20px;
  }
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content1">
		    <div id="topBanner">
		<div id="topBannerTitle">
		<div id="topBannerTitleText"><p>강의 검색</p><span>강의명, 강사를 입력해 주세요.</span></div>
		</div>
		</div>
		<div class="cencen">
		

		
			<input type="text" class="searchKeyword2" th:value=${word}
				placeholder="과정명, 강사명, 주제 검색어를 입력해 주세요">
			<button class="searchBtn2">검색</button>
		</div>

		<br> <br>

		<form class="form2" th:action="@{/search/searchResult}" method="get">
			<input type="hidden" name="keyword" value="">

		</form>

		<div id="sub" class="cencen">
			<div class="category">주제명</div>
			<br>
			<div>
				<th:block th:each="subject:${sublist}">
					<button type="button" class="smenu btn btn-default"
						th:text="${subject.subName}" th:value="${subject.subjectNo}"></button>
				</th:block>
			</div>
		</div>

		<br> <br>

		<div id="table_content">
			<div class="space cencen">
				<div class="category">강의장</div>
				<br>
				<div>
					<th:block th:each="hall:${hlist}">
						<button type="button" class="hmenu btn btn-default"
							th:text="${hall.lectureHallName}"
							th:value="${hall.lectureHallNo}"></button>
					</th:block>
				</div>
			</div>

			<br> <br> <br> <br>

			<div id="final_content">
				<table>
					<thead>
						<tr>
							<th>과정명</th>
							<th>개강일</th>
							<th>종강일</th>
							<th>교육시간</th>
							<th>강의장</th>
							<th>상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="class:${result}">
							<td th:if="${#strings.toString(class.classState)}=='APPLY'"><a
								th:href="@{'/course/enroll/'+${class.classNo}}"
								th:text=${class.lecture.course.courseName}></a></td>
							<td th:unless="${#strings.toString(class.classState)}=='APPLY'"
								th:text=${class.lecture.course.courseName}></td>
							<td th:text=${class.classOpenDate}></td>
							<td th:text=${class.classCloseDate}></td>
							<td th:text=${class.educationTime.educationTimeType}></td>
							<td th:text=${class.classRoom.lectureHall.lectureHallName}></td>
							<td th:if="${#strings.toString(class.classState)}=='APPLY'"><a
								th:href="@{'/course/enroll/'+${class.classNo}}"
								th:text="수강신청"></a></td>
							<td th:if="${#strings.toString(class.classState)}=='END'"
								th:text="마감">상태</td>
							<td th:if="${#strings.toString(class.classState)}=='CLOSE'"
								th:text="마감">상태</td>
							<td th:if="${#strings.toString(class.classState)}=='OPENREADY'"
								th:text="개설예정">상태</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</body>
</html>