<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/tablesort.js}"></script>
	<link rel="stylesheet" type="text/css"
		href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
	<script>
		$(function() {
			$("table").addClass(
					"table table-striped table-bordered table-hover");
			$("table").attr("id", "tablesort");
			$("#tablesort").dataTable();
		});
	</script>
</head>
<body>

	<table>
	<thead>
		<tr>
			<th>과정명</th>
			<th>개강일</th>
			<th>종강일</th>
			<th>교육시간</th>
			<th>강의장</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="class:${result}">
			<td><a th:href="@{'/course/enroll/'+${class.classNo}}"
				th:text=${class.lecture.course.courseName}></a></td>
			<td th:text=${class.classOpenDate}></td>
			<td th:text=${class.classCloseDate}></td>
			<td th:text=${class.educationTime.educationTimeType}></td>
			<td th:text=${class.classRoom.lectureHall.lectureHallName}></td>
		</tr>
		</tbody>
	</table>

</body>
</html>