<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- 공통layout만들기 -->
<link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- 하위 html에서 css 재정의할 예정 -->
<th:block layout:fragment="style1"></th:block>

<style>
#headerdiv{
position: fixed;
height :50px !important;
width : 100%;
background-color: grey !important;
color:white;
}

.page-header h1{
margin:0px;
font-size: 20px;
/* margin-left: 200px; */

}
.page-header {
background-color: greay !important;
}

.sidenav{
margin-top: 50px;
}
</style>

</head>
<body>
	<!-- 사이드바-->
        <div th:block th:replace="fragments/sideBar"></div>
		<!-- 헤더 -->
		<header th:replace="fragments/headeradmin::header1"></header>
		
        <div class="main">
			<!-- 하위 HTML에서 Content를 재정의할 예정이다. -->
			<div class="panel panel-default" layout:fragment="content1"></div>
			<!-- 푸터 -->
			<footer th:replace="fragments/footeradmin::footer1"></footer>
		</div>
		
	

	
	<div class="main">


	</div>
	

	
	<!-- 하위 HTML에서 javascript 재정의할 예정 th:block은 없어지는 태그이다. -->
	<th:block layout:fragment="script1"></th:block>
	

	
</body>
</html>