<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutUser}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <th:block layout:fragment="script1">
    <script th:inline="javascript">
    $(function(){
    	var classNo ="[[${class.classNo}]]";
        $.ajax({
          url:"/user/userEnrollSidebar",
          data:{"classNo":classNo},
          method:"get",
          success:function(response){
            $("#right-sidebar").html(response);
          }
        });
    });
    
    $(document).on("click","#enrollBtn",function(){
    	alert($(this).val());
      	 location.href = "/course/enroll/info/"+$(this).val();
       });
  </script>
  </th:block>
</head>
<body>
  <div class="panel panel-default" layout:fragment="content1">
    <table class="table">
      <tr>
        <th>훈련일정</th>
        <td th:text="${#dates.format(class.classOpenDate,'MM월dd일')}+'~'+${#dates.format(class.classCloseDate,'MM월dd일')}"></td>
      <tr>
      <tr>
        <th>교육시간</th>
        <td th:text="${class.educationTime.educationTimeName}+' '+${class.educationTime.educationTimeType}"></td>
      <tr>
      <tr>
        <th>훈련일수</th>
        <td th:text="${class.lecture.course.courseTotalDay}+일"></td>
      <tr>
      <tr>
        <th>훈련시간</th>
        <td th:text="${class.lecture.course.courseTotalTrainTime}+시간"></td>
      <tr>
      <tr>
        <th>강사</th>
        <td th:text="${class.teacher.teacherName}"></td>
      <tr>
      <tr>
        <th>강의장</th>
        <td th:text="${class.classRoom.lectureHall.lectureHallName}"></td>
      <tr>
      <tr>
        <th>강의실번호</th>
        <td th:text="${class.classRoom.classRoomName}"></td>
      <tr>
      <tr>
        <th>주제명</th>
        <td th:text="${class.lecture.course.subject.subName}"></td>
      <tr>
      <tr>
        <th>정원</th>
        <td th:text="${class.lecture.course.courseCapacity}+명"></td>
      <tr>
    </table>
    <!-- 과정+강의계획정보 출력 -->
    <div id="course">
      <div id="courPurpose">
        <p>교육목표</p>
        <p class="preBox" th:text="${class.lecture.course.coursePurpose}">
        </p>
      </div>
      <div id="courContent">
        <p>교육내용</p>
        <p class="preBox" th:text="${class.lecture.course.courseContent}"></p>
      </div>
      <div id="courTarget">
        <p>교육대상</p>
        <p class="preBox" th:text="${class.lecture.course.courseTarget}"></p>
      </div>
      <div id="courAsk">
          <!-- 셀렉트로 강의계획에서 문자열으로 합치는지? >> 그럼 그냥 ask에서 가져오기  -->
        <p>문의센터</p>
        <p class="preBox" th:text="${class.lecture.lectureAsk}"></p>
      </div>
      <div id="courPenalty" th:if="${class.lecture.lecturePenalty!=null}">
        <p>패널티안내</p>
        <p class="preBox" th:text="${class.lecture.lecturePenalty}"></p>
      </div>
    </div>
    <!-- 과정+강의계획정보 출력끝 -->
    <!-- 오른쪽 사이드바 -->
    <div id=right-sidebar>
    </div>
  </div>


</body>
</html>