<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutUser}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
  <div class="panel panel-default" layout:fragment="content1">
    <table>
      <tr>
        <td>훈련일정</td>
        <td>
      <tr>
      <tr>
        <td>교육시간</td>
        <td>
      <tr>
      <tr>
        <td>훈련일수</td>
        <td>
      <tr>
      <tr>
        <td>훈련시간</td>
        <td>
      <tr>
      <tr>
        <td>강사</td>
        <td>
      <tr>
      <tr>
        <td>강의장</td>
        <td>
      <tr>
      <tr>
        <td>강의실번호</td>
        <td>
      <tr>
      <tr>
        <td>주제명</td>
        <td>
      <tr>
      <tr>
        <td>정원</td>
        <td>
      <tr>
      
    </table>
  </div>
</body>
</html>