<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<th:block layout:fragment="script1">
</th:block>
  
<th:block layout:fragment="style1">
<style>
  #enrollBtn{
  float: right;
  width: 100%;
  font-size:20px;
  }
  th{
  width : 80px;
  }
</style>
</th:block>
</head>
<body>
  <!-- <div class="panel panel-default" layout:fragment="content1"> -->
    <!-- 오른쪽 사이드바 -->
      <table class="table">
        <tr th:if="${#strings.contains(class.lecture.course.courseName,']')}">
          <th>과정명</th>
          <td th:text="${#strings.substringAfter(class.lecture.course.courseName,']')}">
        </tr>
        <tr th:unless="${#strings.contains(class.lecture.course.courseName,']')}">
          <th>과정명</th>
          <td th:text="${class.lecture.course.courseName}"></td>
        </tr>
        <tr>
          <th>강사명</th>
          <td th:text="${class.teacher.teacherName}"></td>
        </tr>
        <tr>
          <th>기간</th>
          <td th:text="${#dates.format(class.classOpenDate,'MM월dd일')}+'~'+${#dates.format(class.classCloseDate,'MM월dd일')}"></td>
        </tr>
        <tr>
          <th>총훈련시간</th>
          <td th:text="${class.lecture.course.courseTotalTrainTime}+시간"></td>
        </tr>
        <tr>
          <th>문의센터</th>
          <td th:text="${class.lecture.lectureAsk}"></td>
        </tr>
      </table>

      <button id="enrollBtn" class="btn btn-info" th:value="${class.classNo}">수강신청</button>    

</body>
</html>