<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutUser}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <th:block layout:fragment="style1">
    <style>
       #successText{
        text-align: center;
       }
     </style>
  </th:block>
</head>
<body>
  <div id="successText" class="panel panel-default" layout:fragment="content1">
    <h1>수강신청완료</h1>
    <p>교육신청은 대기상태로 협회의 교육 승인(확정) 후 수강이 가능합니다.</p>
    <p>교육 대기상태에서는 수강에 제한이 있을 수 있으니 이 점 참고하시기 바랍니다.(정원외 수강제한,고용보험 미가입)</p>
    <p>개강안내 메일 및 문자는 교육 승인(확정)되신 분들에 한하여 개강 일주일 전에 발송됩니다.</p>
  </div>


</body>
</html>