<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- 강의정보 출력 -->
  <div id="classes">
    <table>
      <tr th:each="class:${classList}">
        <td th:text="${class.classOpenDate}${class.educationTime.educationTimeName}"></td>
        <!-- 비대면인지 아닌지 -->
        <th:block th:if="${class.lecture.course.courseName.contains('비대면')}">
          <td th:text="비대면강의-강의실/${class.classRoom.classRoomCapacity}"></td>
        </th:block>
        <th:block th:unless="${class.lecture.course.courseName.contains('비대면')}">
          <td th:text="${class.classRoom.classRoomName}/${class.classRoom.classRoomCapacity}"></td>
        </th:block>
        <!-- 비대면체크 끝 -->
        <td th:text="${class.teacher.teacherName}"></td>
        <td>
          <button>수강신청</button>
        </td>
      </tr>
    </table>
  </div>
<!-- 강의정보 출력끝 -->

<!-- 과정+강의계획정보 출력 -->
<div id="course">


</div>
<!-- 과정+강의계획정보 출력끝 -->
</body>
</html>