<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutUser}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="style1">
  <style>
    .contentBox{
      display: inline-block;
      vertical-align: top;
      position: relative;
    }
    #mainContent{
      width:600px;
    }
    #right-sidebar{
      width:600px;
    }
  </style>
</th:block>
<th:block layout:fragment="script1">
  <script th:inline="javascript">
  	$(function(){
  		var classNo ="[[${class.classNo}]]";
  	  	$.ajax({
  	  		url:"/user/userEnrollSidebar",
  	  		data:{"classNo":classNo},
  	  		method:"get",
  	  		success:function(response){
  	  			$("#right-sidebar").html(response);
  	  		}
  	  	});
  	});
  	 $(document).on("click","#enrollBtn",function(){
  		alert($("#enrollfrm input:first-child").val());
		$("#enrollfrm").submit();
	});
  	
  </script>
</th:block>

</head>
<body>
  <div class="panel panel-default" layout:fragment="content1">
    <div id = "mainContent" class="contentBox">
      <table class="table table-striped">
      	<tr>
          <th>휴대전화번호</th>         
          <td th:text="${user.userPhone}"></td>
        </tr>
      	<tr>
          <th>이메일</th>         
          <td th:text="${user.userEmail}"></td>
        </tr>
      	<tr>
          <th>이름</th>         
          <td th:text="${user.userName}"></td>
        </tr>
      </table>
  </div>
    <div id=right-sidebar class="contentBox">
    </div>
    
    <!--접수시 넘겨줄 데이터 -->
    <form id="enrollfrm" action="/course/enroll/info" method="post">
      <input type="hidden" name="classes" th:value="${class.classNo}">
      <input type="hidden" name="user" th:value="${user.userNo}">
    </form>
  </div>
  
  
</body>
</html>