<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutUser}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="script1">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:src="@{/js/addressPop.js}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script th:src="@{/js/userInsert.js}"></script>
</th:block>

<th:block layout:fragment="style1">
  <style>
    .register-container {
    	width: 700px;
    	margin: auto;
    }
    
    .row {
    	margin-right: -15px;
    	margin-left: -15px;
    }
    
    .col-md-12 {
    	width: 100%;
    }
    .control-label{
      width:100%;
    }
    .is-valid{
      font-size:5px;
      align-content:right;
      display:block;
      float:right;
    }
    .is-invalid{
      display:none;
    }
    .cust-form .buttonset {
        display: block;
    }
  </style>
</th:block>
</head>
<body>
  <div class="panel panel-default" layout:fragment="content1">
  <div id="signupWarn"></div>
  <div id="chkAllOk"></div>
    <div class="register-container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center m-b-md">
            <h3>회원가입</h3>
          </div>
          <!-- 유저정보 입력 부분 -->
          <form action="" method="POST" id="signupForm" novalidate="novalidate">
            <div class="hpanel">
              <div class="panel-body">
                <div class="row">
                
                  <div class="col-lg-6">
                      <div id="userId" class="userId-group">
                        <div class="form-group cust-form has-feedback">
                          <label for="inputUserId" class="control-label">
                            아이디 
                            <span class="help-inline">*</span>
                            <span id="idEnable" class="is-invalid" style="color:#27ae60;">
                              사용 가능한 아이디입니다.
                             </span>
                             <span id="idDisable" class="is-invalid" style="color:#e74c3c;">
                                사용할 수 없는 아이디입니다.
                             </span>
                          </label>
                          <input type="text" id="inputUserId" name="userId" placeholder="4~20자 소문자 또는 숫자" class="form-control" required="required" autofocus="autofocus">
                          <span id="idMessage" class="help-block"></span>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group cust-form has-feedback">
                      <label for="userName" class="control-label">
                        이름 
                        <span class="help-inline">*</span>
                      </label> 
                      <input type="text" id="name" name="userName" value="" class="form-control" placeholder="ex) 홍길동" required="required">
                      <span class="help-block"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group cust-form has-feedback">
                      <label for="newPassword" class="control-label">
                        비밀번호 
                        <span class="help-inline">*</span>
                      </label>
                      <!-- 대소문자 구분 안할때는 placeholder  삭제 --> 
                      <input type="password" id="newPassword" name="userPw" class="form-control" placeholder="8~16자 숫자,소문자,대문자를 포함" required="required"> 
                      <span class="help-block"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group cust-form has-feedback">
                      <label for="confirmPassword" class="control-label">
                        비밀번호 확인
                        <span class="help-inline">*</span>
                        <span id="pwEnable" class="is-invalid" style="color:#27ae60;">
                          사용 가능한 비밀번호입니다.
                        </span>
                        <span id="pwDisable" class="is-invalid" style="color:#e74c3c;">
                          비밀번호가 일치하지 않습니다.
                       </span>
                      </label>
                      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required="required">
                     <span class="help-block"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group cust-form has-feedback">
                      <label for="cellPhone" class="control-label">
                        휴대전화 번호
                        <span class="help-inline">*</span>
                      </label>
                      <input type="text" id="cellPhone" name="userPhone" value="" class="form-control" placeholder="ex) 010-1234-1234" required="required">
                      <span class="help-block"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group cust-form has-feedback">
                      <label for="sex" class="control-label">
                        성별
                        <span class="help-inline">*</span>
                      </label>
                      <span class="buttonset" id="sex">
                        <input type="radio" id="sex_true" name="sex" value="M" checked="checked" class="radio-inline">
                        <label for="sex_true">남</label>
                        <input type="radio" id="sex_false" name="sex" value="F" class="radio-inline">
                        <label for="sex_false">여</label>
                      </span>
                      <span class="help-block"></span>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group has-feedback ">
                          <label for="zipCode" class="control-label">
                            우편번호 
                            <span class="help-inline">*</span>
                          </label>
                          <input type="text" id="zipCode" name="zipCode" value="" class="form-control " readonly="readonly">
                          <span class="help-block"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group has-feedback ">
                          <label for="address" class="control-label">
                            주소 
                            <span class="help-inline">*</span>
                          </label>
                          <input type="text" id="address" name="userAddress" value="" class="form-control " readonly="readonly">
                          <span class="help-block"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group has-feedback ">
                          <label for="detailAddress" class="control-label"> 
                            상세주소
                            <span class="help-inline">*</span>
                          </label> 
                          <input type="text" id="detailAddress" name="detailAddress" value="" class="form-control " required="required">
                          <span class="help-block"></span>
                        </div>
                      </div>
                      <div class="form-group has-feedback col-md-1">
                        <button type="button" id="searchAddress" class="btn btn-default" style="margin-top: 24px;">주소찾기</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group cust-form has-feedback ">
                      <label for="birthDate" class="control-label">
                        생년월일 
                        <span class="help-inline">*</span>
                      </label>
                      <input type="date" id="birthDate" name="userBirth" value="" class="form-control" required="required">
                      <span class="help-block"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hpanel">
              <div class="panel-body">
                <div class="row">
                  <div class="form-group ng-scope">
                    <div class="col-lg-6">
                      <div id="emailauth" class=" input-group">
                        <div class="form-group cust-form has-feedback ">
                          <label for="email" class="control-label">
                            이메일 
                            <span class="help-inline">*</span>
                          </label>
                          <input type="text" id="email" name="userEmail" placeholder="ex) user@kosta.or.kr" class="form-control" required="required">
                          <span class="help-block"></span>
                        </div>
                        <span class="kt-pl-30 input-group-btn">
                          <button type="button" id="emailSendBtn" class="ladda-button btn btn-default" style="margin-top: 24px;">인증번호발송</button>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div id="emailauth" class="input-group">
                        <div class="form-group cust-form">
                          <label for="authNum" class="control-label">
                            인증번호
                            <code id="emailTimer"class="help-inline ng-binding"></code>
                          </label>
                          <input type="text" id="authNum" name="authNum" class="form-control" placeholder="인증번호를 입력해 주세요." required="required">
                        </div>
                        <span class="kt-pl-30 input-group-btn">
                          <button type="button" id="emailConfirm" class="ladda-button btn btn-default" style="margin-top: 24px;">
                            인증
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
            <div class="text-center kt-mb-50">
              <button id="insertBtn" class="btn btn-success">회원가입</button>
              <a href="/user/userMain" class="btn btn-default">취소</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>