<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutUser}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="script1">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:src="@{/js/addressPop.js}"></script>
  <script th:src="@{/js/userInfo.js}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script th:src="@{/js/tablesort.js}"></script>
  <script>
     $(function(){  
        $("table").addClass("table table-striped table-bordered table-hover");
        $("table").attr("id","tablesort");
        $("#tablesort").dataTable();
        $("a:contains('삭제')").addClass("btn btn-danger btn-sm");
     });
  </script>
</th:block>
<th:block layout:fragment="style1">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
</th:block>
</head>
<body>
<div layout:fragment="content1">
  <div class="container kt-mt-22">
  <ul class="nav nav-tabs">
    <li class="active"><a class="btn-link" href="/user/userInfo">
      <i class="fa fa-user text-info"></i> 회원정보</a></li>
    <li><a class="btn-link" th:href="@{'/user/userProfile/'+${user.userNo}}">
      <i class="fa fa-id-card-o text-success"></i> 수강현황</a></li>
  </ul>

  <div class="tab-content tab-pane">
  <div class="row">
      <div class="col-md-12">
          <div class="hpanel">
              <div class="panel-body">
                  <!-- 비밀번호 수정 -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="hpanel text-right">
                        <a herf="#" class="btn btn-outline btn-info" data-toggle="modal" role="button" data-target="#passwordModifyrModal"><i class="fa fa-address-book-o"></i><span class="hidden-xs">&nbsp;비밀번호 변경</span></a>
                      </div>
                    </div>
                  </div>
                 
                  <!-- 회원 정보 수정 -->
                  <form action="/user/update" method="POST" id="updateForm" novalidate="novalidate">
                    <!-- 드롭박스탭부분 -->
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            기본정보<span class="caret"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <div class="form-group cust-form has-feedback ">
                              <label for="userId" class="control-label">
                                아이디 
                                <span class="help-inline">*</span>
                              </label>
                              <input type="text" id="userId" name="userId" th:value="${user.userId}" class="form-control" readonly="readonly">
                              <span class="help-block"></span>
                            </div>

                            <div class="form-group cust-form has-feedback ">
                              <label for="name" class="control-label">
                                이름
                                <span class="help-inline">*</span>
                              </label>
                              <input type="text" id="name" name="userName" th:value=${user.userName} class="form-control">
                              <span class="help-block"></span>
                            </div>
    
                            <div class="form-group cust-form has-feedback ">
                              <label for="sex" class="control-label">
                                성별
                                <span class="help-inline">*</span>
                              </label>
                              <span class="buttonset" id="sex" th:value="${user.sex}" >
                                <input type="radio" id="sex_true" name="sex" value="M" class="radio-inline"
                                  th:checked="${#strings.toString(user.sex)}=='M'">
                                <label for="sex_true">남</label>
                              
                                <input type="radio" id="sex_false" name="sex" value="F" class="radio-inline"
                                  th:checked="${#strings.toString(user.sex)}=='F'">
                                <label for="sex_false">여</label>
                              </span>
                              <span class="help-block"></span>
                            </div>
    
                            <div class="form-group cust-form has-feedback ">
                              <label for="birthDate" class="control-label">
                                생년월일
                                <span class="help-inline">*</span>
                              </label>
                              <input type="date" id="birthDate" name="userBirth" th:value="${user.userBirth}" class="form-control">
                              <span class="help-block"></span>
                            </div>

                            <div class="row">
                              <div class="col-md-2">
                                <div class="form-group has-feedback ">
                                  <label for="zipCode" class="control-label">
                                    우편번호
                                    <span class="help-inline">*</span>
                                  </label>
                                  <input type="text" id="zipCode" name="zipCode" th:value="${user.zipCode}" class="form-control " readonly="readonly">
                                  <span class="help-block"></span>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group has-feedback ">
                                  <label for="address" class="control-label">
                                    주소
                                    <span class="help-inline">*</span>
                                  </label>
                                  <input type="text" id="address" name="userAddress" th:value="${user.userAddress}" class="form-control " readonly="readonly">
                                  <span class="help-block"></span>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group has-feedback ">
                                  <label for="detailAddress" class="control-label">
                                    상세주소
                                    <span class="help-inline">*</span>
                                  </label>
                                  <input type="text" id="detailAddress" name="detailAddress" th:value="${user.detailAddress}" class="form-control ">
                                  <span class="help-block"></span>
                                </div>
                              </div>
                              <div class="form-group has-feedback col-md-1">
                                <button type="button" id="searchAddress" class="btn btn-default" style="margin-top: 24px;">주소찾기</button>
                              </div>
                          </div>

                          <div class="form-group cust-form has-feedback ">
                            <label for="cellPhone" class="control-label">
                              휴대전화 번호
                              <span class="help-inline">*</span>
                            </label>
                            <input type="text" id="userPhone" name="userPhone" th:value="${user.userPhone}" class="form-control">
                            <span class="help-block"></span>
                          </div>
    
                          <div class="row">
                            <div class="col-md-10">
                              <div class="form-group cust-form has-feedback ">
                                <label for="email" class="control-label">
                                  이메일
                                  <span class="help-inline">*</span>
                                </label>
                                <input type="text" id="email" name="userEmail" th:value="${user.userEmail}" class="form-control" readonly="readonly">
                                <span class="help-block"></span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <button class="btn btn-default" type="button" data-toggle="collapse" style="margin-top: 24px;" data-target="#emailAuthbox" aria-expanded="false" aria-controls="emailAuthbox">이메일 변경</button>
                            </div>
                          </div>
                          <!-- 이메일 변경-->
                          <div class="collapse" id="emailAuthbox" aria-expanded="false">
                            <div class="col-md-12 well well-lg">
                              <div class="form-group ng-scope">
                                <div class="col-lg-6">
                                  <div id="emailauth" class=" input-group">
                                    <div class="form-group cust-form has-feedback ">
                                      <label for="authemail" class="control-label">
                                      이메일
                                      <span class="help-inline"></span>
                                      </label>
                                      <input type="text" id="authemail" name="authemail" placeholder="ex) user@kosta.or.kr" class="form-control">
                                      <span class="help-block"></span>
                                    </div>
                                    <span class="kt-pl-30 input-group-btn">
                                      <button type="button" id="emailSendBtn" class="ladda-button btn btn-default" style="margin-top: 24px;">인증번호발송</button>
                                    </span>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div id="emailauth" class=" input-group">
                                    <div class="form-group cust-form">
                                      <label for="authNum" class="control-label">
                                        인증번호
                                        <code id="emailTimer"class="help-inline"></code>
                                      </label>
                                      <input type="text" id="authNum" name="authNum" class="form-control" placeholder="인증번호를 입력해 주세요." disabled="disabled">    
                                    </div>
                                    <span class="kt-pl-30 input-group-btn">
                                      <button type="button" id="authSendBtn" class="ladda-button btn btn-default" style="margin-top: 24px;" disabled="disabled">
                                        인증
                                      </button>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group cust-form has-feedback ">
                            <label for="bank" class="control-label">
                              은행
                              <span class="help-inline"></span>
                            </label>
                            <input type="text" id="userBank" name="userBank" th:value="${user.userBank}" class="form-control" placeholder="ex) 한국은행">
                            <span class="help-block"></span>
                          </div>

                          <div class="form-group cust-form has-feedback ">
                            <label for="bankAccount" class="control-label">
                              계좌번호
                              <span class="help-inline"></span>
                            </label>
                            <input type="text" id="bankAccount" name="userBankNoString" th:value="${user.userBankNoString}" class="form-control" placeholder="ex) 111111111111 -없이">
                            <span class="help-block"></span>
                          </div>
                           
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group cust-form has-feedback ">
                                <label for="ssn" class="control-label">
                                  주민번호
                                  <span class="help-inline"></span>
                                </label>
                                <div class="row" id="totalssn">
                                  <div class="col-md-3">
                                    <input type="text" id="ssn1" name="ssn1" th:value="${user.userIdentity == ''}?'':${#strings.substring(user.userIdentity,0,6)}" class="form-control" maxlength="6">
                                  </div>
                                  <div class="col-md-3">
                                    <input type="password" id="ssn2" name="ssn2" th:value="${user.userIdentity == ''}?'':${#strings.substring(user.userIdentity,6,13)}"  class="form-control" maxlength="7">
                                  </div>
                                </div>
                                <span class="help-block"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- 회사정보 부분 -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            회사정보
                            <span class="caret"></span>
                          </a>
                        </h4>
                      </div>
                      
                      <!-- 회사 입력부분 -->
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group has-feedback kt-mb-0" >
                                <label for="corpName" class="control-label">
                                  소속회사
                                </label>
                                <input type="text" id="companyName" name="companyName" th:value="${user.company.companyName}" class="form-control" readonly="readonly">
                              </div>
                              <input type="hidden" id="companyNo" name="companyNo" th:value="${user.company.companyNo}" autocomplete="off">
                            </div>
                            <div class="col-md-3">
                              <button type="button" id="searchCorp" class="btn btn-default" style="margin-top: 24px;" data-toggle="modal" data-target="#myModal">
                                회사검색
                              </button>
                              <button type="button" id="initBtn" class="btn btn-outline btn-danger" style="margin-top: 24px;">
                                <i class="fa fa-remove"></i>
                                <span class="hidden-xs">&nbsp;삭제</span>
                              </button>
                            </div>
                          
                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                  </div>
                                  <div class="modal-body">
                                    <div>
                                      <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                          <tr>
                                            <th>회사명</th>
                                            <th>선택</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr th:each="company:${companyList}">
                                            <td>
                                              <a th:class="modalCompany" th:text="${company.companyName}"></a>
                                            </td>
                                            <td class="tdCenter">
                                              <button class="btn btn-success btn-sm" th:value="${company.companyNo}" data-dismiss="modal">
                                                선택
                                              </button>
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                	</div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- modal 끝 -->
                          </div>
                          <span class="help-block kt-mb-15">회사를 추가하거나 삭제하고 저장버튼을 눌러야 반영됩니다.</span>
                          <!-- 회사정보 끝 -->
                          <div class="form-group cust-form has-feedback ">
                            <label for="department" class="control-label">
                              소속부서
                              <span class="help-inline"></span>
                            </label>
                            <input type="text" id="department" name="userDept" th:value="${user.userDept}" class="form-control">
                            <span class="help-block"></span>
                          </div>

                          <div class="form-group cust-form has-feedback ">
                            <label for="position" class="control-label">
                              직함
                              <span class="help-inline"></span>
                            </label>
                            <input type="text" id="position" name="userPosition" th:value="${user.userPosition}" class="form-control">
                            <span class="help-block"></span>
                          </div>

                          <div class="form-group cust-form has-feedback ">
                            <label for="duty" class="control-label">
                              직무
                              <span class="help-inline"></span>
                            </label>
                            <input type="text" id="duty" name="userJob" th:value="${user.userJob}" class="form-control">
                            <span class="help-block"></span>
                          </div>

                        <div class="form-group cust-form has-feedback ">
                          <label for="officePhone" class="control-label">
                            사무실전화번호
                            <span class="help-inline"></span>
                          </label>
                       	  <input type="text" id="officePhone" name="deptPhone" th:value="${user.deptPhone}" class="form-control">
                          <span class="help-block"></span>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="hr-line-dashed"></div>
                  <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="submitBtn">
                      <i class="fa fa-save"></i>
                      <span class="hidden-xs">&nbsp;저장</span>
                    </button>
                    <a class="btn btn-success" role="button" id="roleChange" th:text="${user.trainee.traineeName == '채용예정자'}?'재직자 전환':'채용예정자 전환'"></a>

                    <a class="btn btn-info" role="button" id="userDeleteBtn">
                      <i class="fa fa-sign-out"></i>
                      <span class="hidden-xs">&nbsp;회원탈퇴</span>
                    </a>
                  </div>
                   <!-- 데이터용 히든박스 -->
                  <div id="hiddenBox">
                    <input type="hidden" id="companyInfo" th:value="${user.company.companyNo}">
                    <input type="hidden" id="userNoInfo" name="userNo" th:value="${user.userNo}">
                    <input type="hidden" name="userPw" th:value="${user.userPw}">
                    <input type="hidden" id="userIdentity" name="userIdentity" th:value="${user.userIdentity}">
                    <input type="hidden" id="userRegDate" name="userRegDate" th:value="${user.userRegDate}">
                    <input type="hidden" id="trainee" name="trainee" th:value="${user.trainee.traineeNo}">
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
     </div>   
    </div>
  </div>
</body>
</html>