<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutUser}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
  <div class="panel panel-default" layout:fragment="content1">
    <table>
      <tr>
        <th>훈련일정</th>
        <td th:text="%{#dates.format(${class.classOpenDate}),'yyyy-MM-dd'}+'~'+${class.classCloseDate}"></td>
      <tr>
      <tr>
        <th>교육시간</th>
        <td>
      <tr>
      <tr>
        <th>훈련일수</th>
        <td>
      <tr>
      <tr>
        <th>훈련시간</th>
        <td>
      <tr>
      <tr>
        <th>강사</th>
        <td>
      <tr>
      <tr>
        <th>강의장</th>
        <td>
      <tr>
      <tr>
        <th>강의실번호</th>
        <td>
      <tr>
      <tr>
        <th>주제명</th>
        <td>
      <tr>
      <tr>
        <th>정원</th>
        <td>
      <tr>
    </table>
  </div>
</body>
</html>