<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layoutUser}">
<head>
<meta charset="UTF-8">
<!-- <th:block layout:fragment="style1">
	<style>
.user-foot {
	margin-left: 300px;
	text-align: center;
}
</style>
</th:block> -->

</head>
<body>
	<footer th:fragment="footer1">
      <div id="userFooter">
      <div class="userFoot">
		<div class="footerBox">
			<div id="footerLogo">
			 <img src="/img/f-logo.png">
			</div>
			<div id="footerInfo">
    			<p>&copy; 2021 KOSTA All rights reserved.</p>
    			<p>[산업계 주도 맞춤형] 재직자:02-6278-9352 / 채용예정자:031-606-9304</p>
    			<p>[컨소시엄] 재직자:031-606-9337 / 채용예정자:031-606-9319</p>
            </div>
		</div>
    </div>
    </div>
	</footer>

</body>
</html>