<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />

<th:block layout:fragment="script1">

</th:block>
<th:block layout:fragment="style1">
  <style>

  </style>
</th:block>
</head>

<header class="page-header" th:fragment="header1">
	
    <div id="headerInfo">
    <a href="/user/userMain">
  	   <img src="/img/logo5.png" width="190px"> 
     </a>
	<!-- KOSTA프로젝트 <small>Designed by yoon</small> -->
    
	 <div id="sign">
		<div sec:authorize="isAuthenticated()">
			<a href="/user/userInfo">마이페이지<span
				class="glyphicon glyphicon-user"></span><span> | </span></a> <a
				href="/logout">로그아웃<span class="glyphicon glyphicon-log-out"></span></a>
		</div>
		<div sec:authorize="!isAuthenticated()">
			<a href="/user/userInsert">회원가입<span
				class="glyphicon glyphicon-edit"></span><span> | </span></a> <a
				href="/auth/login">로그인<span class="glyphicon glyphicon-log-in"></span></a>
		</div>
      
	</div>
  </div>
	<nav class="navbar navbar-inverse">
		<div id="base" class="container-fluid">
            <!-- 대주제 메뉴 들어가는 구간 -->
			<ul id="navbar-manu" class="nav navbar-nav">
			</ul>
			<form class="navbar-form navbar-right form1"
				th:action="@{/search/searchResult}" method="get">
				<div class="input-group">
					<input type="text" class="form-control searchKeyword"
						placeholder="Search"> <input type="hidden" name="keyword"
						value="">
					<div class="input-group-btn">
						<button class="searchBtn btn btn-default">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>

		</div>
	</nav>

</header>
</html>