<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<th:block layout:fragment="script1">

</th:block>
</head>

<header class="page-header" th:fragment="header1">
	<th:block layout:fragment="style1">

	</th:block>
	<h1>
		KOSTA프로젝트 <small>Designed by yoon</small>
	</h1>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/user/userMain">Kosta Logo</a>
			</div>
			<ul id="navber-manu" class="nav navbar-nav">
			</ul>
			<form class="navbar-form navbar-right form1"
				th:action="@{/search/searchResult}" method="get">
				<div class="input-group">
					<input type="text" class="form-control searchKeyword"
						placeholder="Search">
					<input type="hidden" name="keyword" value="">
					<div class="input-group-btn">
						<button class="searchBtn btn btn-default">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>

				</div>
			</form>
			<!-- <form class="form1" th:action="@{/search/searchResult}" method="get">
				<input type="hidden" name="keyword" value="">
			</form> -->
		</div>
	</nav>
</header>
</html>