<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KOSTA관리콘솔</title>
<style>
html {
  margin-left: 0px !important;
  padding: 0 !important;
}
</style>
</head>

<body>
	<header class="page-header" th:fragment="header1">

		<div id="headerdiv">
			<div id="headerLogoDiv">
				<p>KOSTA 관리콘솔 <span class="label label-success" style="font-size: 2px">v001</span></p>
			</div>
				<div id="headerDivCenterTime">
					<p id="time-result"></p>
				</div>
					<div id="topLogo">
					<a href="/admin/adminMain"><img src="/img/logo4.png"></a>
					</div>

			<div id="headerDivRight"><p>
				<a href="/logout" target='_blank'><span id="headerMenuStyle">코스타에듀</span><span class="glyphicon glyphicon-pencil"></span> | </a>
				<a href="/admin/adminInfo"><span id="headerMenuStyle">관리자정보</span><span class="glyphicon glyphicon-user"></span> | </a>
				<a href="/admin/adminInsert"><span id="headerMenuStyle">관리자등록</span><span class="glyphicon glyphicon-edit"></span> | </a>
            	<a href="/logout"><span id="headerMenuStyle">로그아웃</span><span class="glyphicon glyphicon-log-out"></span></a>
				</p>
			</div>
		</div>
				
		<script type="text/javascript"> 
		var d = new Date(); 
		var currentDate = d.getFullYear() + "년 " + ( d.getMonth() + 1 ) + "월 " + d.getDate() + "일"; 
		/* var currentTime = d.getHours() + "시 " + d.getMinutes() + "분 " + d.getSeconds() + "초";  */
		var result = document.getElementById("time-result"); result.innerHTML = "오늘은 " + currentDate + " 입니다."; 
		</script> 
	</header>
</body>
</html>